<p>
  {{homeTitle}}
</p>
<!-- property binding -->
	<!-- <input value="{{myString}}" />
	<input required="{{myBoolean}}" /> -->

<!-- Event Binding -->
	<!-- <button (click)="alertMe('I love cats')">Click me</button> -->

<!-- Another way you can do it with square backets -->
	<!-- <input [value]="myString" />
	<input [required]="myBoolean" /> -->

<!-- 2 way data binding -->

	<!-- <label for="name">Name:</label>
	<input [(ngModel)]="ninja.name" />
	<br>
	<br>
	<label for="belt">Belt:</label>
	<input [(ngModel)]="ninja.belt" />  -->

<!-- Custom Property Binding -->
	<!-- <p>{{ ninja.name }}</p>
	<p>{{ ninja.belt }}</p> -->

<!-- Custom Event Binding -->
	<!-- <button (click)="fireYellEvent($event)">Hit me</button> -->

	<button (click)="logIt()">Log me</button>