<div class="catdetails" *ngIf="cat">
	<h2>{{cat.name}} details!</h2>

	<div>
	<label><strong>ID: </strong></label>
	{{cat.id}}
	</div>

	<div>
		<label><strong>Name: </strong></label>
		<input [(ngModel)]="cat.name" placeholder="name"> 
		<!-- ngModel twoway binding, you change the name inthe input and it updates the view. -->
	</div>

	<div>
		<label><strong>Color: </strong></label>
		{{ cat.color }}
	</div>

	<div>
		<label><strong>Country: </strong></label>
		{{ cat.country }}
	</div>
	<button (click)="goBack()">< Back</button>
	<button (click)="save()">Save</button>
</div>