<h2>My Cats</h2>

<div>
	<label>Cat Name:</label> <input #catName />
	<button (click)="add(catName.value); catName.value=''">Add</button>
</div>

<ul class="cats">
	<li *ngFor="let cat of cats"
	[class.selected]="cat === selectedCat"
	(click)="onSelect(cat)">
		<span class="badge">
			<strong>ID:</strong> {{ cat.id }}
		</span>
		<strong>Name:</strong> {{ cat.name }}
		<strong>Color:</strong> {{ cat.color }}
		<strong>Country:</strong> {{ cat.country }}	
		<button class="delete" (click)="delete(cat); $event.stopPropagation()">x</button>		
	</li>
</ul>
<div *ngIf='selectedCat'>
	<h2>
		{{selectedCat.name | uppercase }} is my cat
	</h2>
	<button (click)="gotoDetail()">View Details</button>
</div>

