
<ul>
	<!-- *ngFor -->
	<li *ngFor="let country of countries">
		{{ country }}
	</li>
</ul>
<!-- Style Binding -->
<button class="btn btn-primary" [style.backgroundColor]="isActive ? 'rebeccapurple' : 'black'">Save</button>
<!-- Event Binding -->
<button class="btn btn-primary" (click)="onSave($event)">Click me</button>
<!-- 2 way data binding -->
<input [(ngModel)]="input" (keyup.enter)="onKeyUp()" />
<hr>
<div>
	<!-- Different Pipes -->
	<h2>Country</h2>
	{{ country.name | uppercase }} <br/>
	{{ country.days }} <br/>
	{{ country.price | currency:'GBP': true: '3.2-2'}}<br/>
	{{ country.allinclusive }}
</div>
<hr>
<!-- USING A CUSTOM PIPE summary -->
<div>
	
	<div>
	<h2>Custom Pipes</h2>
	<h3>summary pipe </h3>
	{{ text | summary }} </div>

	<!-- USING A CUSTOM PIPE titleCase and 2 way Data Binding with [(ngModel)] -->
	<div>
		<h3>TitleCase pipe </h3>
		<input [(ngModel)]="input2" (keyup.enter)="copyMe()"/> <br/> {{ input2 | titleCase }}
	</div>
</div>
<hr/>
<!-- Click to add a class. class binding. -->
<div class="star" [class.starFull]="isClicked" (click)="isClicked = !isClicked;">
</div>
