
<ul>
	<!-- *ngFor -->
	<li *ngFor="let country of countries">
		{{ country }}
	</li>
</ul>
<!-- Style Binding -->
<button class="btn btn-primary" [style.backgroundColor]="isActive ? 'blue' : 'black'">Save</button>
<!-- Event Binding -->
<button class="btn btn-primary" (click)="onSave($event)">Click me</button>
<!-- 2 way data binding -->
<input [(ngModel)]="input" (keyup.enter)="onKeyUp()" />

<div>
	<!-- Different Pipes -->
	{{ country.name | uppercase }} <br/>
	{{ country.days }} <br/>
	{{ country.price | currency:'GBP': true: '3.2-2'}}<br/>
	{{ country.allinclusive }}
</div>

<!-- USING A CUSTOM PIPE summary -->
<div> {{ text | summary }} </div>

<!-- USING A CUSTOM PIPE titleCase and 2 way Data Binding with [(ngModel)] -->
<div> <input [(ngModel)]="input2" (keyup.enter)="copyMe()"/> <br/> {{ input2 | titleCase }}</div>

<!-- Click to add a class. class binding. -->
<div class="star" [class.starFull]="isClicked" (click)="isClicked = !isClicked;">
</div>
