/* You can add global styles to this file, and also import other style files */
body {
    font-family: Cambria, Georgia;
     margin: 2em;
}

input[text], button {
  color: #fff;
  font-family: Cambria, Georgia;
  border: none;
  padding: 1em 2em;
  background-color: #112D4E; /* Dark blue */
}
/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 3em;
  color: #999;
  margin-bottom: 0;
}
h2 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #3F72AF;
  border-radius: 4px;
  transition: all .2s ease-in;
}
nav a:visited, a:link {
  color: #ffffff;
}
nav a:hover {
  color: #DBE2EF;
  background-color: #112D4E;
}
nav a.active {
  color: #DBE2EF;
}

.container {
	width: 80%;
	margin: 0 auto;
}

.content {
	padding: 3em;
}

 .selected {
    background-color: #DBE2EF !important;
    color: #3F72AF;
  }
  .cats {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
  }
  .cats li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #3F72AF;
    color: #ffffff;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .cats li.selected:hover {
    background-color: #F9F7F7 !important;
    color: #112D4E;
  }
  .cats li:hover {
    color: #112D4E;
    background-color:  #F9F7F7;
    left: .1em;
  }
  .cats .text {
    position: relative;
    top: -3px;
  }
  .cats .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #112D4E;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }

  .catdetails {
    background-color: #3F72AF; /*blue*/
    color: #ffffff;
    padding: 2em;
    margin: 1em 0;
    font-size: 1;
  }
@media screen and max-width:(360px) {
  
}
  .grid {
    display:flex;
    justify-content: space-between;
    width: 100%;
  }

  .col-1-4 {
    display: block;
    width: 30%;
    margin: 1em;
    padding: 2em;
    background-color: #DBE2EF; /*paleblue*/
    transition: all .5s ease-in;
    border-radius: 25px;
  }
  .col-1-4:link {
    color:#112D4E;
    text-decoration: none;
  }

  .col-1-4:visited {
    color: #3F72AF;
  }

  .col-1-4:active { 
    background-color: #3F72AF; 
    color: #3F72AF;
  }

  .col-1-4:hover {
    color: #DBE2EF;
    background-color: #3F72AF;
    border-radius: 100px;
    transform: rotate(360deg);

  }

  .module, .cat {
    text-align: center;
  }

  .delete {
  
  }

  button.delete {
  float:right;
  margin-top: 2px;
  margin-right: .8em;
  padding: .2em .5em;
  background-color: black;
  color:white;
}

// SEARCH ====

.search-result{
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width:195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
 
.search-result:hover {
  color: #eee;
  background-color: #607D8B;
}
 
#search-box{
  width: 200px;
  height: 20px;
}