<h2>Ninja Listing</h2>

<form id="filter">
	<label>Filter ninjas by name:</label>
	<input type="text" [(ngModel)]="term" name="search"/>
</form>

<ul id="ninja-listing">
	<li *ngFor="let ninja of ninjas | filter:term">
		<div class="single-ninja">
			<!-- Belt Colour -->
			<span [ngStyle]="{background: ninja.belt }">{{ ninja.belt }} belt</span>
			<!-- Ninja Name -->
			<!-- <h3>{{ ninja.name | uppercase | slice:1:3 }}</h3>  Tutorial 21 -->

			<h3>{{ ninja.name }}</h3>
		</div>
	</li>
</ul>

<button (click)="logIt()">Log me</button>



<!-- attributes ngClass directives -->
<!-- <p [ngClass]="classes">
  directory works!
</p> -->

<!-- structure ngIf directives -->
<!-- <p *ngIf="test">Only show if test is true</p>

<style>
	.blue {color: blue;}
	.red {color: red;}
	.underline { text-decoration: underline; }
</style> -->